


.gest_admin{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.gest_admin h1{
    font-size: 30px;
    font-weight: bold;
}
.gest_admin p{
    font-size: 16px;
    color: #4CAF50;
}


