

.detail_commande{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.titre_detail_com{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: center;

    h1{
        font-size: 20px;
        font-weight: bold;
    }

    .retour_list_commande{
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 5px 8px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &:hover {
            background-color: #96D971;
            color: #fff;
        }
    }
}

.info_recap_com{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}

.recap_client{
    width: 75%;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #fff;
}
.recap_prix_com{
    width: 24%;
    background: #000;
    color: #fff;
    padding: 20px;

    p{
        color: #ccc;
        font-size: 14px;
    }
    h1{
        font-size: 24px;
        font-weight: bold;
    }
    button{
        font-size: 14px;
        margin-top: 10px;
        padding: 2px 8px;
        background: #96D971;
        color: #000;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #4CAF50;
            color: #000;
        }
    }
}

@media (max-width: 769px){
    .recap_client{
        width: 100%;
    }
    .recap_prix_com{
        width: 100%;
    }
}



.recap_client_nom {
    display: flex;
    flex-direction: column;
    gap: 5px;
    p{
        font-size: 14px;
    }
    h1{
        font-size: 18px;
        font-weight: bold;
    }
}
.recap_client_date{
    display: flex;
    flex-direction: column;
    gap: 5px;
    p{
        font-size: 14px;
    }
    h1{
        font-size: 18px;
        font-weight: bold;
    }
}

.recap_client_statut{
    display: flex;
    flex-direction: column;
    gap: 5px;

    p{
        font-size: 14px;
    }

    label{
        display: flex;
        gap: 5px;
        align-items: center;
        text-align: center;
        padding: 2px 5px;
        background-color: #96D971;
    }
}



.modif_statut_com{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 20px;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;

    button{  
        height: 30px;
        padding: 2px 10px;
        color: #000;
        border: none;
        cursor: pointer;

    }
    .action_modifier_cour{
        background-color: rgba(255, 179, 0, 0.2);
        color: rgb(255,179,0);
        border: 1.5px solid rgb(255, 179, 0);
        
    }

    .action_modifier_payee{
        background-color: rgba(150, 217, 113, 0.2);
        color: #4CAF50;
        border: 1px solid #4CAF50;
    }

    .action_modifier_annulee{
        background-color: rgba(255, 0, 0, 0.2);
        color: #ff0000;
        border: 1px solid #ff0000;
    }
}

.titre_mod_st_com{

    h2{
        font-size: 18px;
        font-weight: bold;
    }
}


.detail_nom_commande{
    display: flex;
    gap: 10px;
    align-items: center;

    .logo_produit{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 5px;
    }

    .nom_categorie{
        display: flex;
        flex-direction: column;
        gap: 5px;

        h1{
            font-size: 16px;
            font-weight: bold;
        }
        p{
            font-size: 14px;
            color: #555;
        }
    }

    
}

.detail_quantite, .detail_prix, .detail_sous_total{
    
    p{
        font-weight: bold;
        font-size: 16px;
    }
}

