

.profil {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    h1{
        font-size: 24px;
        font-weight: bold;
    }
}

.con_profil{
    display: flex;
    gap: 15px;
    padding-top: 15px;
}


.bar_vertical_profil{
    width: 300px;
    height: auto;
    background: #fff;
    padding: 8px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.bar_vertical_profil .tete_parm_prof{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: self-start;
    label{
        width: 40px;
        height: 40px;
        border-radius: 8px;
        padding: 8px 10px;
        align-items: center;
        text-align: center;
    }
    .parm_prof{
        display: block;

        h1{
            font-size: 16px;
        }
        p{
            font-size: 12px;
        }
    }
}

.bar_vertical_profil .option_parm_prof {
    padding-top: 40px;
    width: 100%;
    
    button{
        gap: 8px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        color: black;
        text-decoration: none;
        font-size: 16px;
        padding: 10px 8px;
        width: 100%;
        height: 100%;
        border-radius: 8px;  
        transition: all 0.4s ease;
        white-space: wrap;
        overflow: hidden;
    }
    button:hover{
        background: rgba(150, 217, 113,0.5);
    }
    button.active{
        background: #96D971;
    }
    
}

.info_personnelle, .modifier_pass {
    flex: 1;
    padding: 0px 10px 10px 0px ;
    
}


.titre_info_perso, .titre_modif_pass{
    
    display: flex;
    align-items: flex-end;
    gap: 10px;
    
}

hr{
    flex: 1;
    font-size: 5px;
    background: #000;
}

.info_personnelle .con_info_perso{
    margin-top: 10px;
    padding: 10px 15px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    button{
        justify-self: right;
        margin-top: 30px;
        gap: 8px;
        display: flex;
        align-items: center;
        color: black;
        text-decoration: none;
        font-size: 16px;
        padding: 10px 8px;
        border-radius: 8px;  
        transition: all 0.4s ease;
        white-space: wrap;
        overflow: hidden;
        background: #96D971;
        
    }
    button:hover{
        background: rgba(150, 217, 113,0.5);
    }
}

.nom_email{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}


.con_modif_pass{
    margin-top: 10px;
    padding: 10px 15px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    input{
        width: 100%;
        padding: 5px;
        font-size: 14px;
        background: #f5f5f5;
        border-radius: 8px;
    }
    input:focus{
        border-color: #96D971;
    }
    p{
        display: flex;
        gap: 5px;
        span{
            font-weight: normal;
            cursor: pointer;
        }
    }
}


.con_modif_pass .new_password, .confi_new_password{
    padding-top: 15px;

    input{
        width: 100%;
        padding: 5px;
        font-size: 14px;
        background: #f5f5f5;
        border-radius: 8px;
    }
    input:focus{
        border-color: #96D971;
    }
    p{
        display: flex;
        gap: 5px;
        span{
            font-weight: normal;
            cursor: pointer;
        }
    }
}

.updapte_pass{
    margin-top: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 10px;
    background: #96D971;
    cursor: pointer;
}
.updapte_pass:hover{
    background: rgba(150, 217, 113,0.5);
}


.pied_info_zone{
    display: flex;
    width: 100%;
    margin-top: 50px;
    gap: 10px;
    align-items: center;
    justify-self: right;
    justify-content: end;
    
    label{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #96D971;
    }
    p{
        font-size: 12px;
    }
}

