

.graphe{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
}

.courbe{
    width: 74%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}


.courbe .entete_courbe{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.courbe .entete_courbe h2{
    font-size: 18px;
    font-weight: bold;
}
.courbe .entete_courbe .label_direct{
    padding: 2px 8px;
    border-radius: 8px;
    background-color: rgba(150, 217, 113, 0.5);
}


.barres{
    
    width: 400px;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    padding: 10px;
    
}


@media (max-width: 768px)  {
    .courbe {width: 100%}
    .barres {width: 100%;}
}





.chart_container {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    width: 100%;
}

/* 🔹 filtres */
.courbe .chart_filters {
    padding-left: 15px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.courbe .chart_filters button {
    padding: 8px 14px;
    border: none;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}



.courbe .chart_filters .active {
    background: rgba(150, 217, 113, 0.5);
    
}

/* 🔹 graphique */
.chart_container .chart_box {
    width: 100%;
    height: 300px;
}