

.recap_tete{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    justify-content: space-between;
}

.recap_tete_section{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;
    width: 200px;
}

.recap_tete_section_icon{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.recap_tete_section_icon .ShoppingBag, .recap_tete_section_icon .Banknote, .recap_tete_section_icon .UserPlus, .recap_tete_section_icon .FileChartColumn{
    color: #306B0F;
    background-color:  rgba(150, 217, 113, 0.5);
    padding: 2px;
    border-radius: 5px;
}

.recap_tete_section_icon div{
    display: flex;
    align-items: center;
    gap: 2px;
    color: #306B0F;
}

.recap_tete_section_icon .recap_tete_taux{
    font-size: 12px;
}

.recap_tete_section p{
    font-size: 14px;
    padding-top: 15px;
}
.recap_tete_section h1{
    font-size: 24px;
    font-weight: bold;
}






